<section>
    <h2 class="text-3xl font-bold mb-4">🛠 Skills</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-6 text-sm font-mono">
        <div><strong>Languages:</strong> .NET 8, C#, Java, Solidity, TypeScript, NodeJs </div>
        <div><strong>Frontend:</strong> Angular 15+, React, Ionic, HTML5, SCSS, TailWind, jQuery</div>
        <div><strong>DevOps:</strong> Azure DevOps, Jenkins, ArgoCD, Bicep, Terraform, Trivy, Spinnaker</div>
        <div><strong>Cloud:</strong> Azure, AWS, GCP</div>
        <div><strong>Blockchain:</strong> Solidity, Web3.js, Truffle, Hardhat, Waffle, Mocha, Chai, Smart Contracts,
            dApps, Tokenization, Role-Based Access</div>
        <div><strong>AI &amp; GenAI:</strong> Azure OpenAI, Microsoft AI Services, LangChain, RAG, Semantic Kernel,
            Agentic
            AI Architectures</div>
        <div><strong>Testing &amp; Security:</strong> xUnit, nUnit, Autofaker, Bogus, JUnit, SonarQube, Veracode,
            Checkmarx,
            Audit Logging</div>
        <div><strong>Infrastructure:</strong> Docker, Kubernetes, Helm, EKS, CI/CD, Application Insights</div>
        <div><strong>Databases:</strong> PostgreSql, MSSQL, CosmosDB, DynamoDB, Cassandra, Redis, Databricks, Unit
            Catelog, MySQL</div>
        <div><strong>Messaging:</strong> Kafka, RabbitMQ, Azure Service Bus</div>
        <div><strong>Tools &amp; Collaboration:</strong> Git, Jira, Confluence, Figma, LucidCharts, Miro, Agile
            methodologies</div>
        <div><strong>Others:</strong> GraphQL, HotChocolate, MeditR, DDD, Dapr, GRpc</div>
    </div>
</section>